<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  {%- seo -%}
  <link rel="stylesheet" href="{{ '/assets/main.css' | relative_url }}">
  {%- feed_meta -%}
  <meta http-equiv="Content-Security-Policy" content="base-uri 'self'; default-src 'none'; connect-src *.stefandroid.com; img-src 'self'; script-src 'unsafe-inline' *.stefandroid.com; style-src 'self' *.stefandroid.com;" />
  <script async defer data-domain="blog.stefandroid.com" src="https://stats.stefandroid.com/js/plausible.js" data-exclude="/last-comments"></script>
</head>
